@import "tailwindcss";

@theme {
  --color-brand-orange: #F27D26;
  --color-brand-black: #141414;
  --color-brand-gray: #F5F5F5;
}

body {
  background-color: var(--color-brand-gray);
  color: var(--color-brand-black);
}
